body {
    margin: 0px;
    padding: 0px;
}
table {
    display: table;
    font: normal 13px calibri, sans-serif;
    margin: 0px;
    padding: 0px;
    line-height: 25px;
    border-collapse: separate;
    border-spacing: 0px;
    table-layout: fixed;
    border-bottom: 3px groove rgba(255, 255, 225, 0.7); 
}
thead {
    display: table-header-group;
    background-image: linear-gradient(#5abe06, #4aae06);
    line-height: 18px;
}
tbody tr:nth-of-type(2n) {
    background-color: #ececd8;
}
th {
    display: table-cell;
    font-weight: normal;
    font-size: 100%;
    text-align: left;
    color: white;
    margin: 0;
    padding-left: 6px;
    white-space: nowrap;
    border-bottom: ridge 3px rgba(0, 0, 0, 0.2);  
    border-right: 3px ridge rgba(80, 100, 10, 0.2);
}
td {
    display: table-cell;
    margin: 0;
    padding-left: 6px;
    border-right: 3px ridge rgba(255, 255, 225, 0.6);
}
td:last-of-type {
    border: 0px;
}
#col1 {
    width: 140px;
}
#col2 {
    width: 105px;
}
#col3 {
    width: 130px;
}
#col4 {
    width: 80px;
}
.flag {
    vertical-align: text-bottom;
    height: 15px;
}