body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Calibri, sans-serif;
    font-weight:100;
    width: 662px;
    height: 299px;
}
#wrapper {
    padding: 0;
    background-color:#3b3b3b;
    border-radius: 8px;
}
header {
    height: 70px;
    box-shadow: inset 0px -5px 10px rgba(16, 16, 16, 0.51);
}
#monitor {
    margin-left: 15px;
    margin-top: 10px;
    float: left;
    width: 40px;
    height: 40px;
}
input {
    float: left;
}
input[placeholder] {
    padding-left: 15px;
}
.field {
    border: 1px solid lightblue;
    height: 20px;
    width: 130px;
    margin: 20px 5px 5px 20px;
}
h1 {
    display: inline-block;
    color: ghostwhite;
    font-family: 'Bodoni MT', Times, serif;
    text-transform:lowercase;
    font-size: 24px;
    font-weight: normal;
    vertical-align: middle;
    float: left;
    margin: 15px 0 0 20px;
}
main {
    padding: 15px;
}
#submitBtn {
    float: right;
    margin: 18px 10px 10px 0;
}
h2 {
    color: #fcd619;
    font-family:'Times New Roman', Times, serif;
    text-transform:lowercase;
    font-weight: normal;
    font-size: 32px;
    margin-top: 0;
}
p {
    color: rgba(245, 245, 245, 0.56);
    margin: 0;
    width: 95%;
}
strong {
    color: ghostwhite;
    font-weight: normal;
}
a {
    color: rgba(245, 245, 245, 0.56);
    text-decoration: none;
}