html, body {
    font-family: 'Franklin Gothic';
    font-size:13px;
    margin: 0;
    padding: 0;
}
#wrapper {
    position: absolute;
    width: 400px;
    background-color: #eeeeee;
    margin: 0;
    padding: 10px;
}
h1 {
    font-weight:100;
}
article {
    position: relative;
    float: left;
    border: 1px solid grey;
    margin: 20px 0 20px 0;
    padding:15px;
    background-color: white;
    clear: both;
}
img {
    float: left;
    padding-right: 10px;
}
.add {
    position: absolute;
    float: right;
    bottom: 15px;
    right: 15px;
}
.listen {
    position: absolute;
    float: right;
    margin-left:2px;
    bottom: 15px;
    right: 80px;
}
span {
    font-weight: bold;
}
