body {
    font-family: Consolas, 'Edwardian Script ITC', monospace;
    font-size: 22px;
    color: #0094ff;
}
body p:first-line {
    font-weight: bold;
}
body p::first-letter {
    font-family: 'Edwardian Script ITC';
    font-size: 60px;
}
