html {
    margin:0;
    padding:0;
}

#root {
    margin:0;
    padding:0;
    background-color: #205D99;
    font-family: Arial;
    font-size: 14px;
    width:500px;
}

ul, li {
    padding: 0;
    margin: 0;
}
li {
    border-bottom: 5px solid #79AEE3;
}
li:last-of-type {
    border-bottom: none;
}

.preview {
    display:none;
    padding:20px;
}
label {
    display: block;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    color:#AECFEE;
    padding:15px;
    background-color: #205D99;
}

input[type=radio] {
    display:none;
}

input[type=radio]:checked ~ .preview {
    display:block;
}

img {
    float:left;
    width:200px;
    height:110px;
    border: 15px solid #79AEE3;
    border-radius: 15px;
    margin:0 10px 15px 0;
}

p {
    color:#E4EFF9;
    background-color: #205D99;
    margin:0;
    
}